@import "../vars";

.header {
  position: relative;
  height: 35px;
  padding: 0 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: $grey3;
  border: 2px #fff solid;
  border-top-color: $grey1;
  border-left-color: $grey1;
}

.counter-wrap {
  display: flex;
  align-items: center;

  label {
    margin-right: 8px;
    font-size: 16px;
  }
}

.counter {
  width: 80px;
  height: 25px;
  line-height: 20px;
  background: #000;
  color: $red1;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border: 2px #fff solid;
  border-top-color: $grey1;
  border-left-color: $grey1;
  user-select: none;
}

input[type="number"].counter {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}


.face {
  position: relative;
  background-color: $grey2;
  border: 2px #fff solid;
  border-right-color: $grey1;
  border-bottom-color: $grey1;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    display: block;
    width: 17px;
    height: 17px;
    background-image: url('~/public/face-sprite.png');
    background-size: 34px;
    background-position: 0 0;
  }
}

.faceSad:before {
  background-position: -17px 17px;
}

.faceHappy:before {
  background-position: -34px 17px;
}


@media only screen and (max-width: 480px) {
  .header {
    height: 120px;
    padding: 0 16px;
  }

  .counter-wrap {
    flex-direction: column;

    label {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .counter {
      height: 30px;
    }
  }

  .face {
    transform: scale(2);
  }
}
