@import "../vars";

.grid-content {
  .grid-row {
    display: flex;
  }

  .grid-cell {
    width: 15px;
    height: 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
    background: $grey2;
    border: 2px #fff solid;
    border-right-color: $grey1;
    border-bottom-color: $grey1;
    user-select: none;
  }

  .grid-cell-active {
    border-width: 1px;
    border-bottom: 0;
    border-right: 0;
    border-top-color: $grey1;
    border-left-color: $grey1;
  }
}
