@import 'reset.css';
@import 'vars.scss';
body {
  margin: 0;
  font-family: 'Orbitron',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $grey3;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .grid {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
  }
}
